black==22.12.0
Django==3.2.18
django-filter==21.1
django-import-export==2.5.0
django-templated-mail==1.1.1
djangorestframework==3.13.1
djangorestframework-simplejwt==4.8.0
flake8==5.0.4
pyflakes==2.5.0
pytest==6.2.4
pytest-django==4.4.0
pytest-pythonpath==0.7.3
python-dateutil==2.8.2
python-decouple==3.5
python-dotenv==0.21.0
python3-openid==3.2.0
pep8-naming==0.13.3
flake8-broken-line==1.0.0
flake8-return==1.2.0
flake8-isort==6.1.0
pre-commit==3.4.0